* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: rgb(255, 228, 196);
}
main {
  background-color: rgb(219, 217, 236);
  padding-top: 30px;
  height: 700px;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color:rgb(255, 228, 196);
  border:rgb(32, 123, 243);
  text-transform: uppercase;

  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
}


.gap{
  gap: 10px;
  padding-right: 20px;
}